.panel {
  padding: 20px 0;
  .title {
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    border-bottom: 1px rgb(217,217,217) solid;
    span {
      float: right;
      font-size: 12px;
      color: rgb(85, 188, 231);
      text-transform: none;
      &.pen {
        background: url('../../assets/img/pen.png') 0 0 no-repeat;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
      }
    }
  }
  .content {
    .item {
      display: flex;
      margin: 0;
      font-size: 12px;
      .key {
        padding: 5px 0px 5px 20px;
        text-align: right;
      }
      .value {
        padding: 5px 0px 5px 20px;
        text-align: left;
      }
    }
  }
}
